@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: rgb(180, 208, 233);
}
.chatbot-toggler{
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(178, 83, 255);
    transition: all 0.2s ease;
}

  .chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
  }
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
.chatbot header{
    background-color: rgb(178, 83, 255);
    padding: 16px 0px;
    text-align: center;
    position: relative;
    
}
.chatbot header span{
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}
.chatbot header h2{
    font-size: 1.4rem;
    color: white;
}
.chatbot .chatbox{
    height: 500px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}
.chatbot .chat{
    display: flex;
}
.chatbot .incoming span{
    height: 32px;
    width: 32px;
    background-color: rgb(178, 83, 255);

    align-self: flex-end;
    text-align: center;
    color: rgb(235, 235, 235);
    line-height: 32px;
    border-radius: 4px;
    margin: 0px 7px 10px 0px;
}
.chatbot .outgoing {
    justify-content: flex-end;
    margin: 20px;
}

.chatbot .chat p{
    font-size: 0.95rem;
    max-width: 75%;
    padding: 12px 16px;
  }
  .chatbox .outgoing p{
    border-radius: 10px 10px 0 10px;
    background-color: rgb(178, 83, 255);
    color: white;
}
.incoming p{
    background-color: rgb(194, 194, 194);
    border-radius: 10px 10px 10px 0px;
    color: black;
}
.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
.chat-input textarea {
height: 55px;
width: 100%;
border: none;
outline: none;
resize: none;
max-height: 180px;
padding: 15px 15px 15px 0;
font-size: 0.95rem;
}
.chat-input span {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
visibility: visible;
}

/* responsive */
@media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }