body::before {
  content: ""; /* Add empty content to the pseudo-element */
  background-image: url('../images/background_img.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9; /* Adjust the opacity as needed */
  z-index: -1; /* Place the pseudo-element behind other content */
}
body{
z-index: 1;
background-color: black;
}

#main {
  transition: margin-left 0.5s;
  display: flex;
  justify-content: space-between;
}
.profile {
float: right;
  width: 250px; /* Set a width for the div */
  padding: 20px; /* Add some padding for content */
  height: 70%;
  margin: 10px;
  padding: 10px;
  background-color: rgb(142, 142, 142);
  font-size: 0.9rem;
  border-radius: 10px;
}
.profile .first{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .first img{
  width: 40%;
  margin-left: 10%;
  height: 50%;
  opacity: 0.8;
}
.profile .first p{
  display: inline-block;
  width: 30%;
  margin-left: 10%;
  color: rgb(0, 0, 0);
}
.profile .second{
display: flex;
flex-direction: column;
align-items: center;
}
.profile .second p{
  padding-top: 5px;
}
.notification{
 display: inline-block;
  width: 250px; /* Set a width for the div */
  background-color:rgb(200, 200, 200);
  height: 70%;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.notification li{
  list-style: none;
}


.content {
  max-width: 60%;
  background-color: rgba(226, 220, 220, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: rgb(0, 0, 0);
border-radius: 10px 10px 0px 0px;
}

.content h1 {
  text-align: center;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

th,td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid white;
}

.content th {
  background-color: #3e3e3e;
  color: #fff;
}

.content tr:hover {
  background-color: #868484;
}

.content .btn {
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.content .btn:hover {
  /* background-color: #3e3e3e; */
  color: rgb(242, 255, 0);
}


.center{
  position: relative;
}
