/* .profile {
width: 100px;
right: 0px;
height: 200px;
background-color: red;
} */

#main {
  /* margin-left: 80px; */
  transition: margin-left 0.5s;
  padding-left: 3px;
  width: 80%;
  display: flex;
}
.profile {
position: fixed;
  right: 0; 
  top:45px ; /* Position it at the top of the viewport */
  width: 200px; /* Set a width for the div */
  background-color: #f0f0f0; /* Background color */
  padding: 20px; /* Add some padding for content */
  height: 70%;
}
.profile .first{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .first img{
  width: 40%;
  margin-left: 10%;
  height: 50%;
}
.profile .first p{
  display: inline-block;
  width: 30%;
  margin-left: 10%;
}
.notification{
 display: inline-block;
 /* position: absolute; */
  top:45px ; /* Position it at the top of the viewport */
  width: 250px; /* Set a width for the div */
  background-color: #b2b2b2; /* Background color */
  height: 70%;
}
.notification li{
  list-style: none;
}
#main .content{
  width: 70%;
  display:inline-block;
}