<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
  </head>
  <body>
    {% include 'sidebar.html' %}
    <div class="space_for_nav" style="height: 45px"></div>
    <div id="main">
      <div class="notification">
        <h3><strong>Notifications</strong></h3>
        <ul>
          <li>Next hearing on 31/09/23 in high court karnataka: case id : 11</li>
        </ul>
      </div>

      <div class="content">
        <div class="table">
          <h1>Case List</h1>
          <table>
            <thead>
              <tr>
                <th>Case ID</th>
                <th>Case Name</th>
                <th>Status</th>
                <th class="actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for case in cases %}
              <tr>
                <td>{{case.Case_Id}}</td>
                <td>{{case.Short_Case_Name}}</td>
                <td>pending</td>
                <td class="actions">
                  <button id="showPopup" class="btn">View</button>
                </td>
              </tr>
              <div id="overlay" class="overlay"></div>
              <div id="popupContainer" class="popup">
                <div class="popup-content">
                  <span class="close" id="closePopup">&times;</span>
                  <div class="top">
                    <h2>Case Details</h2>
                  </div>
                  <div class="mid">
                    <div><strong>Case Number</strong> : {{case.Case_Id}}</div><br>
                    <div><strong>Short Case Name</strong> : {{case.Short_Case_Name}}</div><br>
                    <div><strong>Petitioner</strong> : {{case.Petitioner}}</div><br>
                    <div><strong>Respondent</strong> : {{case.Respondent}}</div><br>
                    <div><strong>Court of origin</strong> : {{case.Court_of_origin}}</div><br>
                    <div><strong>Decision</strong> : pending</div><br>
                    <div><strong>Case Details</strong> : {{case.Case_description}}</div>
                  </div>
                  </p>
                </div>
              </div>

              {% endfor %}

              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="profile">
        <div class="first">
          <img src="static/images/profile_image.jpeg" alt="there should be img here" />
          <p>User Name</p>
        </div>
        <div class="second">
          <p>aadhar number : 123456789101</p>
        </div>
      </div>
    </div>
    <script>
        window.onload = function() {
          const showPopupButton = document.getElementById("showPopup");
const closePopupButton = document.getElementById("closePopup");
const popupContainer = document.getElementById("popupContainer");
const overlay = document.getElementById("overlay");

showPopupButton.addEventListener("click", () => {
  popupContainer.style.display = "flex";
  overlay.style.display = "block";
  console.log("clicked");
});

closePopupButton.addEventListener("click", () => {
  popupContainer.style.display = "none";
  overlay.style.display = "none";
});
function openChat() {
  document.getElementById("chatbot").style.width = "250px";
}

function closeChat() {
  document.getElementById("chatbot").style.width = "0";
}
        };

    </script>
    <!-- <img src="static/images/imageone.png" alt="">  -->
    {% include 'chatbot.html' %}
    <!-- <script src="static/js/dashboard.js"></script> -->
  </body>
</html>
